* {
    padding: 0;
    margin: 0;
}
/* Upper main box */
.main {
    background-image: url("assets/images/image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    position: relative;
    height: 80vh;
}
.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}


/* Navigation bar styling */
nav {
    max-width: 65vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 20px;
}
nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button {
    position: relative;
    z-index: 10;
}
/* ------------------------------- */

/* Hero banner styling */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
.hero_banner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    color: white;
    font-family: "Martel Sans", sans-serif;
}
/* --------------------------------- */
/* --------------------------------- */